# BASE
NODE_ENV=dev
APP_NAME=psbadge
APP_TITLE=psbadge
APP_DESCRIPTION=Server for psbadge
HOST=0.0.0.0
PORT=8000
RATE_LIMIT_MAX=10000

# ENDPOINT 
CODEFORCE_ENDPOINT=http://codeforces.com/api/user.info?handles=
ATCODER_ENDPOINT=
TOPCODER_ENDPOINT=http://api.topcoder.com/v2/users/

# POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hub
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_SYNC=true

# HASURA
HASURA_PORT = 8080

#LOGGER
REMOTE_LOGGING_ENABLED=false
MONGODB_USER=mongo
MONGODB_PW=mongologger
MONGODB_HOST=host.docker.internal
MONGODB_PORT=27017
MONGODB_DB=admin
MONGODB_INFO_COLLECTION=nestjs-boilerplate-info
MONGODB_ERROR_COLLECTION=nestjs-boilerplate-errors

# MONGO EXPRESS
MONGOEXPRESS_PORT = 8081
